*{
    font-family: "Inter";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav bar start */
nav{
    width: 100%;
    background-color: #1A0B2E;
    
}
nav ul{
    display: flex;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
    
}

nav li{
    list-style-type: none;
    
}

nav li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    
}


.nav-bar{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    
}
.nav-bar p{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}
#name{
    background: linear-gradient(60deg,#F7E93F,#FB09B4 ,#9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background: linear-gradient(150deg,#F7E93F,#FB09B4,#9100F8);
    border-radius: 10000px;
    padding: 12px 16px;
    cursor: pointer;
}

.nav-btn button{
    border: none;
    background-color: transparent;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}
/* Nav bar end */