*{
    font-family: "Inter";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    width: 100%;
    background-color: #1A0B2E;
    padding: 0 15px;
}

nav li {
    list-style-type: none;
}

#new {
    background-color: #00FF88;
    color: #1A0B2E;
    padding: 8px 16px;
    font-weight: 600;
    border-radius: 1000px;
    position: absolute;
    top: 10%; 
    right: 5%; 
    box-shadow: 0 0 20px rgba(0, 255, 163, 0.4);
}
nav li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

.nav-bar p {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

#name {
    background: linear-gradient(60deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background: linear-gradient(150deg, #F7E93F, #FB09B4, #9100F8);
    border-radius: 10000px;
    padding: 12px 16px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    border: none;
}

.nav-btn button {
    border: none;
    background-color: transparent;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

.about { 
    background-color: #1A0B2E; 
}
.choose { 
    background-color: #230E3D; 
}

.podcast-main { 
    background-color: #1A0B2E; 
}

@keyframes test {
    from { opacity: 0; transform: scale(0.5); }
    to { opacity: 1; transform: scale(1); }
}

.anim {
    animation: test 0.6s ease-out forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

footer {
    background: url(assets/footer-bg.png) no-repeat center center / cover;
    background-color: #1A0B2E;
    padding: 100px 20px 40px;
    text-align: center;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@keyframes test {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.anim {
    animation: test 0.6s ease-out forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}


nav li{
    list-style-type: none;

}
nav li a{
    text-decoration: none;
    
}
@media screen and (min-width: 992px){
    header{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
/* Nav bar start */
nav{
    width: 100%;
    background-color: #1A0B2E;
    flex-shrink: 0;
    padding: 0 15px;
}
nav ul{
    display: flex;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
    
}

nav li{
    list-style-type: none;
    
}

nav li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    
}


.nav-bar{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    
}
.nav-bar p{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}
#name{
    background: linear-gradient(60deg,#F7E93F,#FB09B4 ,#9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background: linear-gradient(150deg,#F7E93F,#FB09B4,#9100F8);
    border-radius: 10000px;
    padding: 12px 16px;
    cursor: pointer;
    text-decoration: none; 
    color: white;
    font-weight: 600;
    font-size: 1rem;
    border: none;

}

.nav-btn button{
    border: none;
    background-color: transparent;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}


/* Nav bar end */

/* Hero section started */
.hero{
    background-image: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-main{
    max-width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.hero-main h1{
    font-size: 60px;
    font-weight: 800;
    color: white;
    text-align: center;
}

.hero-text p{
    padding-top: 15px;
    font-size: 16px;
    font-weight: 400;
    color: white;
}
.hero-circle{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-circle img:nth-of-type(1){
    width: 410px;

}

.hero-circle img:nth-of-type(2){
    position: absolute;
    width: 150px;
}

#new {
    background-color: #00FF88;
    color: #1A0B2E;
    padding: 8px 16px;
    font-weight: 600;
    border-radius: 1000px;
    position: absolute;
    top: 10%; 
    right: 5%; 
    box-shadow: 0 0 20px rgba(0, 255, 163, 0.4);
}

.hero-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 35px;
}

.sub-btn {
    background-image: none;
    background-color: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
    padding: 15px 22px;
}
.spotify-btn{
    padding: 15px 22px;
}
.sub-btn button{
    background-color: transparent;
    color: #00FF88;
    
}
/* Hero section ended*/


/* about section starts */
.about {
    background-color: #1A0B2E;
    padding-top: 50px;
    padding-bottom: 120px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.about-main {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-text {
    max-width: 800px;
    text-align: center;
    margin-bottom: 60px;
}

.about-text p {
    font-size: 1rem;
    line-height: 1.8;
    opacity: 0.8;
    margin-bottom: 20px;
}

.about-text h1 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 24px;
}



.divider {
    width: 100%;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 80px;
}

.about-stats {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}
.stat-text {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.8;
}

.stat-box {
    text-align: center;
}
.about-text p {
    font-size: 1rem;
    line-height: 1.8;
    opacity: 0.8;
    margin-bottom: 20px;
}
.stat-number {
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 10px;
}


/* about section ends */

/* Choose section starts */

.choose{
    width: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: #230E3D;
    color: white;
    padding-left: 20px;
    padding-right: 20px;

}
.choose-main{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;
}

.choose-main h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 50px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto auto auto; 
    gap: 24px;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-areas: 
        "tall card2 card2"
        "tall card3 card3"
        "wide wide card5";
}

.card {
    background: rgba(53, 17, 101,0.4);
    padding: 40px;
    border-radius: 40px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.card img{
    width: 50px;
    margin-bottom: 16px;
}

.card h3 {
    margin-bottom: 16px;
    font-size: 1.5rem;
    font-weight: bold;

}
.card p {
    font-size: 1rem;
    line-height: 1.5;
    opacity: 0.8;

}


.card-1 {
    grid-area: tall;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: left;     
    text-align: left;
    gap: 5px;     
}



.card-2 {
    grid-area: card2;

}

.card-3 {
    grid-area: card3;

}

.card-4 {
    grid-area: wide;
}

.card-5 {
    grid-area: card5;
}
/* Choose section ends */


/* Podcast section starts */

.podcast-main {
    background-color: #1A0B2E;
    color: white;
    padding: 80px 50px;
}

.podcast-header {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 50px;
}

.grid-episode {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 100px;
}

.episode-card {
    background: #25183E;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
}

.episode-card:hover {
    transform: translateY(-10px);
    
}

.video {
    position: relative;
    width: 100%;
    padding-top: 56%;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.episode-text {
    padding: 25px;
}

.episode-text h3 {
    font-size: 2rem;
    margin-bottom: 12px;
    line-height: 1.5;
}

.episode-text p {
    color: #cbd5e1;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

.duration {
    color: #00F5A0;
    font-weight: 600;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Host section Starts */

.section-header {
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 50px;
}



.host-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #9100F8;
}
.host-card {
    background: #25183E;
    border-radius: 30px;
    padding: 40px;
    display: flex;
    align-items: center;
    gap: 50px;
    max-width: 1000px;
    margin: 0 auto;
}

.host-detail h3 {
    font-size: 3rem;
    margin-bottom: 15px;
    background: linear-gradient(20deg,#F7E93F,#FB09B4 ,#9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.host-detail p {
    color: #cbd5e1;
    line-height: 1.6;
    margin-bottom: 25px;
}

.social-links {
    display: flex;
    gap: 15px;
    align-items: center;
}

.social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px; 
    height: 44px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    text-decoration: none;
}

.social-links a img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}


/* Host section Ends */
/* Podcast section ends */


/* Footer Section Starts */



footer {
    background: url(assets/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #1A0B2E; 
    padding: 100px 20px 40px;
    text-align: center;
    color: white;
    min-height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-main {
    max-width: 1360px;
    margin: 0 auto;
    flex-grow: 1;
}

.footer-logo {
    margin-bottom: 40px;
}

.footer-logo h1 {
    font-size: 3.8rem;
    font-weight: 800;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 60px;
    flex-wrap: wrap;
}

.social a {
    color: #cbd5e1;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
}



.social img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}
.copy-main{
    width: 100%;
    margin-top: auto;
}

#copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    opacity: 0.5;
    font-size: 1rem;
    padding-top: 30px;
    margin-top: 20px;
}

/* Footer Section Ends */
}

@media screen and (max-width: 576px) {
    nav{
        background-color: #1A0B2E;
        
        width: 100%;
        padding: 15px 40px;
    }
    .nav-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: url(assets/hamburger-menu.png);
        background-repeat: no-repeat;
        background-position: center right;

    }
    nav li{
        display: none;
    }

    .nav-bar p{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    }
    .nav-btn{
        display: none;
    }
    #name{
    background: linear-gradient(60deg,#F7E93F,#FB09B4 ,#9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
    .hero {
        padding: 40px 20px;
        background-image: url(assets/hero-bg-mobile.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%; 
        background-color: #1A0B2E; 
        min-height: 60vh;   
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .hero-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        width: 100%;
        transform: translateY(10px); 
    }

    .hero-circle{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
    }

    .hero-circle img:nth-of-type(1){
        width: 200px;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        
    }
    .hero-circle img:nth-of-type(2){
        height: 80px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        
    }

    #new {
    background-color: #00FF88;
    color: #1A0B2E;
    padding: 8px 16px;
    font-weight: 600;
    border-radius: 1000px;
    position: absolute;
    top: 0%; 
    right: -80px;
    box-shadow: 0 0 20px rgba(0, 255, 163, 0.4);
}
    .hero-text{
        color: white;
        padding-top: 24px;
        max-width: 400px;
        width: 100%;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero-text h1{
        font-size: 3.5rem;
        font-weight: 800;
    }
    .hero-text p{
        font-size: 1rem;
        font-weight: 400;
    }

    .hero-btn {
        display: flex;
        flex-direction: row; 
        justify-content: center;
        gap: 10px;
        padding-top: 25px;
        width: 100%;
    }

    .hero-btn .nav-btn {
        display: flex; 
        padding: 15px 20px;
        font-size: 0.85rem; 
        
    }

    .hero-btn img {
        width: 16px;
    }

    .sub-btn {
        background: transparent;
        border: 1px solid #00FF88 ;
        color: #00FF88 ;
    }


    /* mobile hero done */

    .about{
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
    }
    .divider {
    width: 100%;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin: 20px auto;
}
    .about-text h1{
        font-size: 2rem;
        font-weight: bold;
    }
    .about-text p{
        font-size: 1rem;
        font-weight: 400;
        margin-top: 10px;
    }

    .about-stats {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 30px 16px; 
        width: 100%;
        padding: 0 10px;
    }

    .stat-box {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .stat-number {
        font-size: 2rem;
        margin-bottom: 5px;
        color: #00FF88;
    }

    .stat-text {
        font-size: 1rem;
        line-height: 1.2;
        opacity: 0.8;
    }

    /* about section ends */

    .choose{
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;

    }
    .choose-main h1{
        
        text-align: center;
        margin-bottom: 16px;
    }

    .card img{
        width: 50px;
    }
    .card{
        background-color: #351165;
        opacity: 0.9;
        padding: 24px;
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        
    }
    .grid{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
}